@import "tailwindcss";

:root {
  background-color: #0f172a; /* slate-900 */
  color: #f8fafc; /* slate-50 */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
